body{
    font-size: 16px;
    font-family: lato, sans-serif,serif;
    background-color: #dddde0;
    margin: 0 auto;
}
/*Navegador*/
nav{
    background-color: #002147;
    font-size: 1rem;
    font-family: lato, sans-serif, arial;
    padding: 5px 15px;
    border-radius: 8px;
    width:100%;
    position: fixed;
    z-index: 2;
    margin: 0 auto;
    top:0;
}
#navegador-desktop{
    display: flex;
    flex-wrap: nowrap;
    color: white;
    height: 65px;
    padding: 5px 15px;
}
.logo {
    font-family: montserrat, lato, sans-serif, arial;
    font-size: 0.8rem;
    display: flex;
    margin: auto 0;
}
.logo h1{
    padding-top: 3px;
    padding-left: 5px;
}
h1 .color{
    color:#ff8700;
}
.logo img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
#navegador-desktop .menu{
    margin: auto 0;
}
.menu li{
    display: inline;
    font-family: lato, sans-serif, arial;
}
.menu a {
    text-decoration:none;
    color: white;
    padding: 0 10px;
}
/*BANNER*/
#bannerindex{
    margin-top: 80px;
}
.banner{
    background-image: url("/Resources/images/pexels-cdc-3992945.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30rem;
}
.banner h1{
    font-family: lato, sans-serif, arial;
    font-size: 3rem;
    text-align: center;
    padding-top: 10rem;
    color:rgb(46, 95, 151);
}
.banner h3{
    font-family: lato, sans-serif, arial;
    text-align:center;
    font-size: 1.2rem;
    color: whitesmoke;
}

/* CALENDAR */
#calendar {
    font-family: lato, serif;
    width: 75%;
}