body{
    font-size: 16px;
    font-family: lato, sans-serif,serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0 auto;
}
/*Navegador*/
nav{
    background-color: #002147;
    font-size: 1.1rem;
    font-family: lato, sans-serif, arial;
    padding: 5px 15px;
    border-radius: 8px;
    width:100%;
    position: fixed;
    z-index: 2;
    margin: 0 auto;
    top:0;
}
#navegador-desktop{
    display: flex;
    flex-wrap: nowrap;
    color: white;
    height: 65px;
    padding: 5px 15px;
}
.logo {
    font-family: montserrat, lato, sans-serif, arial;
    font-size: 0.8rem;
    display: flex;
    margin: auto 0;
}
.logo a{
    text-decoration: none;
    color:white
}
.logo h1{
    padding-top: 3px;
    padding-left: 5px;
}
h1 .color{
    color:#ff8700;
}
.logo img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
#navegador-desktop .menu{
    margin: auto 0;
}
.menu li{
    display: inline;
    font-family: lato, sans-serif, arial;
}
.menu a {
    text-decoration:none;
    color: white;
    padding: 0 10px;
}
/*BANNER*/
#bannerindex{
    margin-top: 80px;
}
.banner{
    background-image: url("/Resources/images/bannerrese.jpeg");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 30rem;
}
.banner h1{
    font-family: lato, sans-serif, arial;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 10rem;
    color:white;
}
.banner h3{
    font-family: lato, sans-serif, arial;
    text-align:center;
    font-size: 1.5rem;
    color: white;
}

/*Research lines*/

#researchline{
    line-height: 0.5;
    padding: 32px 40px;
    text-align: center;
    font-family: lato, sans-serif, arial;
    color:#666569;
}
.researchgcollumn{
    display: flex;
    flex-direction: column;
}
.researchunit h1{
    color:#3e6ca5;
    border-bottom: solid 0.4px rgba(121, 118, 118,0.3);
    padding: 0 30px;
    width:68%;
    margin-left: 20px;
}
.researchunit{
    padding: 10px 20px;
    line-height: 1.5;
    margin: 40px auto;
    background-color: hsl(0, 0%, 90%);
    width: 90%;
    height: auto;
    border-radius: 5px;
    color: #666569;
}
.researchdescription{
    display: flex;
    text-align: left;
    padding: 0 20px;
    align-items: center;
}
.researchdescription img {
    width: 20%;
}
.research-content{
    width: 90%;
    display: box;
    text-align: justify;
    padding-left: 30px;
}
.research-content p{
    line-height: 1.5;
}
.research-content h4{
    font-weight: 500;
}
.research-content h3{
    font-weight: 400;
    border-bottom: solid 0.4px rgba(121, 118, 118,0.3);
    width:13%;
    color: #3e6ca5;
}
.research-content a{
    text-decoration: none;
    color: #666569;
    font-style: italic;
}
.research-content a:hover{
    font-size: 1.1rem;
    color:#4e4e52;
    font-weight: bold;
}
.midia h3{
    width:10%;
}
.midia a{
    text-decoration:none;
    color: #666569;
}
/*FOOTER*/

footer {
    margin-top: 2rem;
    background-color: #002147;
    font-family: robot, sans-serif, arial;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 5px 30px;
    border-radius: 8px;
}